@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #EEE;
}

body {
    background: #121212;
}

header {
    padding: 20vh 0;
    background: #3F51B5;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 16px;
}

input, button {
    padding: 4px;
    background: #282828;
    outline: none;
    border: none;
    border-radius: 4px;
}

button {
    background: #304FFE;
    cursor: pointer;
}

button:hover {
    background: #8C9EFF;
}

.container {
    padding: 64px;
}