* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

body {
    background-color: #242424;
}

.card {
    border-radius: 16px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-action > a {
    font-weight: 600;
}
