.page-content {
    display: grid;
    grid-template-columns: 8px [content-start] 1fr [content-end] 8px;
    padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .page-content {
        grid-template-columns: 10% [content-start] 1fr [content-end] 10%;
    }
}

@media screen and (min-width: 1024px) {
    .page-content {
        grid-template-columns: 20% [content-start] 1fr [content-end] 20%;
    }
}

@media screen and (min-width: 1280px) {
    .page-content {
        grid-template-columns: 25% [content-start] 1fr [content-end] 25%;
    }
}

.page-content > * {
    grid-column: content;
}

.page-content > .full-width {
    grid-column: 1 / -1;
}

@media screen and (max-width: 1024px) {
    .page-content > .full-width-small {
        grid-column: 1 / -1;
    }
}