@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #341639;
}

body {
    background: #b19cd9;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 16px;
}

iframe {
    margin: 8px;
    width: calc(100% - 16px);
    border-radius: 8px;
}

.card {
    margin: 16px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}